/*--------------------------------<Style>-------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0; 
    padding: 0; 
    font-family:'Poppins', sans-serif; 
    border: none; 
    outline: none;
}
:root {
    --background: rgb(240, 240, 240);
    --text-color1: rgb(235, 235, 235);
    --text-color2: rgb(22, 22, 22);
    --text-color3: rgb(128, 128, 128);
    --border-color: rgb(70, 85, 255);
    --button-color: rgb(11, 115, 184);
    --button-color-hv: rgb(0, 56, 141);
    --button-color-ac: rgb(0, 37, 92);
    --border-color2: var(--border-color);
    --input-background: white;
}
body {
    background-color: rgb(33, 68, 121);
}
.flex { display: flex; }
.none { display: none; }
.flex-col { flex-direction: column; }
.justify-space-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-end { justify-content: end; }
.align-end { align-items: end; }
.align-space-between { align-content: space-between; }
.align-center { align-items: center; }
.align-content-center { align-content: center; }
.full-size { width: 100%; height: 100%; }
.rounded { border-radius: 100%; }
.translate-center {
    transform: translate(50%);
}

.rltv { position: relative; }
.abs { position: absolute; }


.fll-w { width: 100%; }
.fll-h { height: 100%; }


.input-border { 
    width: 100%; 
    border-bottom: 2px solid var(--border-color2);
    background-color: rgba(201, 201, 201, 0.336);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.input-border:has(input[type="text"]) input, 
.input-border:has(input[type="number"]) input, 
.input-border:has(input[type="email"]) input {
    width: 95%;
}
.input-border input { width: 100%; background: none; font-size: 12px; }


.gp-1 { gap: 1rem; }
.gp-2 { gap: 1.5rem; }
.gp-3 { gap: 2rem; }


.input-border label {
    position: absolute;
    font-size: 12px;
    left: 9px;
    z-index: 0;
    margin-top: -3.7rem;
    margin-left: -0.5rem;
    transition: 0.2s;
}
.radio label {
    font-size: 12px;
}
.input-border input[type='text']:focus ~ label,
.input-border input[type='number']:focus ~ label,
.input-border input[type='email']:focus ~ label { margin-top: -3.7rem; margin-left: -0.5rem; }

.input-border input[type='text']:placeholder-shown ~ label,
.input-border input[type='number']:placeholder-shown ~ label,
.input-border input[type='email']:placeholder-shown ~ label {
    margin-top: 0px;
    margin-left: 0;

}
.main-form {
    width: 22rem;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
}
#user-list {
    background-color: rgba(2, 2, 2, 0.301);
    position: fixed;
}
#show-popup {
    background-color: white;
    filter: drop-shadow(1px black);
    padding: 2px;
}
form {
    padding: 10px;
}
.submit {
    height: 2rem;
    background-color: rgb(33, 68, 121);
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}
.btn {
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
.cancel {
    width: 6rem;
    height: 2rem;
    background-color: rgb(33, 68, 121);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.popup {
    width: 48rem;
    height: 25rem;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    padding: 1.5rem 4rem;
    border-radius: 5px;
}
.btn:hover { text-decoration: underline; }
.overflow { overflow-x: auto; overflow-x: auto; }
.text-left { text-align: left; }
.table-container {
    height: 18rem;
}
table { 
    border-collapse: collapse;
}
table tbody tr {
    height: 3rem;
    background-color: rgb(233, 233, 233);
    font-size: 14px;
    margin-top: 5px;
}
table thead th {
    padding: 10px;
    font-size: 14px;
}
table tbody tr td {
    padding: 3px 10px;
}